<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>CombAcute</key>
  <string>C_ombA_cute.glif</string>
  <key>CombAcute.LP</key>
  <string>C_ombA_cute.L_P_.glif</string>
  <key>CombCaron</key>
  <string>C_ombC_aron.glif</string>
  <key>CombCaron.LP</key>
  <string>C_ombC_aron.L_P_.glif</string>
  <key>CombCedilla</key>
  <string>C_ombC_edilla.glif</string>
  <key>CombCircum</key>
  <string>C_ombC_ircum.glif</string>
  <key>CombCircum.LP</key>
  <string>C_ombC_ircum.L_P_.glif</string>
  <key>CombDiaer</key>
  <string>C_ombD_iaer.glif</string>
  <key>CombDiaer.LP</key>
  <string>C_ombD_iaer.L_P_.glif</string>
  <key>CombGrave</key>
  <string>C_ombG_rave.glif</string>
  <key>CombGrave.LP</key>
  <string>C_ombG_rave.L_P_.glif</string>
  <key>CombRingAbv</key>
  <string>C_ombR_ingA_bv.glif</string>
  <key>CombTilde</key>
  <string>C_ombT_ilde.glif</string>
  <key>CombTilde.LP</key>
  <string>C_ombT_ilde.L_P_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>GrCapOmega</key>
  <string>G_rC_apO_mega.glif</string>
  <key>GrCapPi</key>
  <string>G_rC_apP_i.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>LtnCapEsh</key>
  <string>L_tnC_apE_sh.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dottedcircle</key>
  <string>dottedcircle.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u0E5B</key>
  <string>u0E_5B_.glif</string>
  <key>u1A20</key>
  <string>u1A_20.glif</string>
  <key>u1A20.sub</key>
  <string>u1A_20.sub.glif</string>
  <key>u1A21</key>
  <string>u1A_21.glif</string>
  <key>u1A21.short</key>
  <string>u1A_21.short.glif</string>
  <key>u1A21.sub</key>
  <string>u1A_21.sub.glif</string>
  <key>u1A22</key>
  <string>u1A_22.glif</string>
  <key>u1A22.short</key>
  <string>u1A_22.short.glif</string>
  <key>u1A23</key>
  <string>u1A_23.glif</string>
  <key>u1A23.sub</key>
  <string>u1A_23.sub.glif</string>
  <key>u1A24</key>
  <string>u1A_24.glif</string>
  <key>u1A25</key>
  <string>u1A_25.glif</string>
  <key>u1A25.sub</key>
  <string>u1A_25.sub.glif</string>
  <key>u1A26</key>
  <string>u1A_26.glif</string>
  <key>u1A26.sub</key>
  <string>u1A_26.sub.glif</string>
  <key>u1A27</key>
  <string>u1A_27.glif</string>
  <key>u1A27.sub</key>
  <string>u1A_27.sub.glif</string>
  <key>u1A28</key>
  <string>u1A_28.glif</string>
  <key>u1A28.sub</key>
  <string>u1A_28.sub.glif</string>
  <key>u1A29</key>
  <string>u1A_29.glif</string>
  <key>u1A29.sub</key>
  <string>u1A_29.sub.glif</string>
  <key>u1A2A</key>
  <string>u1A_2A_.glif</string>
  <key>u1A2B</key>
  <string>u1A_2B_.glif</string>
  <key>u1A2C</key>
  <string>u1A_2C_.glif</string>
  <key>u1A2C.sub</key>
  <string>u1A_2C_.sub.glif</string>
  <key>u1A2D</key>
  <string>u1A_2D_.glif</string>
  <key>u1A2D.sub</key>
  <string>u1A_2D_.sub.glif</string>
  <key>u1A2E</key>
  <string>u1A_2E_.glif</string>
  <key>u1A2E.sub</key>
  <string>u1A_2E_.sub.glif</string>
  <key>u1A2F</key>
  <string>u1A_2F_.glif</string>
  <key>u1A2F.short</key>
  <string>u1A_2F_.short.glif</string>
  <key>u1A2F.sub</key>
  <string>u1A_2F_.sub.glif</string>
  <key>u1A30</key>
  <string>u1A_30.glif</string>
  <key>u1A30.sub</key>
  <string>u1A_30.sub.glif</string>
  <key>u1A31</key>
  <string>u1A_31.glif</string>
  <key>u1A31.sub</key>
  <string>u1A_31.sub.glif</string>
  <key>u1A31_u1A2C</key>
  <string>u1A_31_u1A_2C_.glif</string>
  <key>u1A32</key>
  <string>u1A_32.glif</string>
  <key>u1A32.sub</key>
  <string>u1A_32.sub.glif</string>
  <key>u1A33</key>
  <string>u1A_33.glif</string>
  <key>u1A33.sub</key>
  <string>u1A_33.sub.glif</string>
  <key>u1A34</key>
  <string>u1A_34.glif</string>
  <key>u1A34.sub</key>
  <string>u1A_34.sub.glif</string>
  <key>u1A35</key>
  <string>u1A_35.glif</string>
  <key>u1A35.sub</key>
  <string>u1A_35.sub.glif</string>
  <key>u1A36</key>
  <string>u1A_36.glif</string>
  <key>u1A36.short</key>
  <string>u1A_36.short.glif</string>
  <key>u1A36.sub</key>
  <string>u1A_36.sub.glif</string>
  <key>u1A36.sub.narr</key>
  <string>u1A_36.sub.narr.glif</string>
  <key>u1A36_u1A63</key>
  <string>u1A_36_u1A_63.glif</string>
  <key>u1A36_u1A63.short</key>
  <string>u1A_36_u1A_63.short.glif</string>
  <key>u1A37</key>
  <string>u1A_37.glif</string>
  <key>u1A37.sub</key>
  <string>u1A_37.sub.glif</string>
  <key>u1A38</key>
  <string>u1A_38.glif</string>
  <key>u1A38.sub</key>
  <string>u1A_38.sub.glif</string>
  <key>u1A38.sub.low</key>
  <string>u1A_38.sub.low.glif</string>
  <key>u1A39</key>
  <string>u1A_39.glif</string>
  <key>u1A39.sub</key>
  <string>u1A_39.sub.glif</string>
  <key>u1A39.sub.low</key>
  <string>u1A_39.sub.low.glif</string>
  <key>u1A3A</key>
  <string>u1A_3A_.glif</string>
  <key>u1A3B</key>
  <string>u1A_3B_.glif</string>
  <key>u1A3B.sub</key>
  <string>u1A_3B_.sub.glif</string>
  <key>u1A3B_u1A5B</key>
  <string>u1A_3B__u1A_5B_.glif</string>
  <key>u1A3C</key>
  <string>u1A_3C_.glif</string>
  <key>u1A3D</key>
  <string>u1A_3D_.glif</string>
  <key>u1A3D.sub</key>
  <string>u1A_3D_.sub.glif</string>
  <key>u1A3E</key>
  <string>u1A_3E_.glif</string>
  <key>u1A3E.short</key>
  <string>u1A_3E_.short.glif</string>
  <key>u1A3E.sub</key>
  <string>u1A_3E_.sub.glif</string>
  <key>u1A3E.sub.narr</key>
  <string>u1A_3E_.sub.narr.glif</string>
  <key>u1A3E_u1A5B</key>
  <string>u1A_3E__u1A_5B_.glif</string>
  <key>u1A3F</key>
  <string>u1A_3F_.glif</string>
  <key>u1A3F.sub</key>
  <string>u1A_3F_.sub.glif</string>
  <key>u1A3F.sub.low</key>
  <string>u1A_3F_.sub.low.glif</string>
  <key>u1A3F.sub.med</key>
  <string>u1A_3F_.sub.med.glif</string>
  <key>u1A40</key>
  <string>u1A_40.glif</string>
  <key>u1A41</key>
  <string>u1A_41.glif</string>
  <key>u1A41.alt</key>
  <string>u1A_41.alt.glif</string>
  <key>u1A41.sub</key>
  <string>u1A_41.sub.glif</string>
  <key>u1A42</key>
  <string>u1A_42.glif</string>
  <key>u1A43</key>
  <string>u1A_43.glif</string>
  <key>u1A43.sub</key>
  <string>u1A_43.sub.glif</string>
  <key>u1A43.sub.low</key>
  <string>u1A_43.sub.low.glif</string>
  <key>u1A44</key>
  <string>u1A_44.glif</string>
  <key>u1A45</key>
  <string>u1A_45.glif</string>
  <key>u1A45.sub</key>
  <string>u1A_45.sub.glif</string>
  <key>u1A45.sub.low</key>
  <string>u1A_45.sub.low.glif</string>
  <key>u1A45_u1A3F.sub</key>
  <string>u1A_45_u1A_3F_.sub.glif</string>
  <key>u1A45_u1A3F.sub.low</key>
  <string>u1A_45_u1A_3F_.sub.low.glif</string>
  <key>u1A46</key>
  <string>u1A_46.glif</string>
  <key>u1A46.sub</key>
  <string>u1A_46.sub.glif</string>
  <key>u1A47</key>
  <string>u1A_47.glif</string>
  <key>u1A47.short</key>
  <string>u1A_47.short.glif</string>
  <key>u1A47.sub</key>
  <string>u1A_47.sub.glif</string>
  <key>u1A47.sub.low</key>
  <string>u1A_47.sub.low.glif</string>
  <key>u1A48</key>
  <string>u1A_48.glif</string>
  <key>u1A48.sub</key>
  <string>u1A_48.sub.glif</string>
  <key>u1A48.sub.low</key>
  <string>u1A_48.sub.low.glif</string>
  <key>u1A48.sub_u1A45.sub</key>
  <string>u1A_48.sub_u1A_45.sub.glif</string>
  <key>u1A49</key>
  <string>u1A_49.glif</string>
  <key>u1A49.sub</key>
  <string>u1A_49.sub.glif</string>
  <key>u1A49_u1A36.sub</key>
  <string>u1A_49_u1A_36.sub.glif</string>
  <key>u1A49_u1A36.sub_u1A45.sub</key>
  <string>u1A_49_u1A_36.sub_u1A_45.sub.glif</string>
  <key>u1A49_u1A3E.sub</key>
  <string>u1A_49_u1A_3E_.sub.glif</string>
  <key>u1A4A</key>
  <string>u1A_4A_.glif</string>
  <key>u1A4B</key>
  <string>u1A_4B_.glif</string>
  <key>u1A4C</key>
  <string>u1A_4C_.glif</string>
  <key>u1A4C_u1A3E</key>
  <string>u1A_4C__u1A_3E_.glif</string>
  <key>u1A4D</key>
  <string>u1A_4D_.glif</string>
  <key>u1A4E</key>
  <string>u1A_4E_.glif</string>
  <key>u1A4F</key>
  <string>u1A_4F_.glif</string>
  <key>u1A50</key>
  <string>u1A_50.glif</string>
  <key>u1A51</key>
  <string>u1A_51.glif</string>
  <key>u1A52</key>
  <string>u1A_52.glif</string>
  <key>u1A53</key>
  <string>u1A_53.glif</string>
  <key>u1A54</key>
  <string>u1A_54.glif</string>
  <key>u1A55</key>
  <string>u1A_55.glif</string>
  <key>u1A56</key>
  <string>u1A_56.glif</string>
  <key>u1A57</key>
  <string>u1A_57.glif</string>
  <key>u1A58</key>
  <string>u1A_58.glif</string>
  <key>u1A59</key>
  <string>u1A_59.glif</string>
  <key>u1A5A</key>
  <string>u1A_5A_.glif</string>
  <key>u1A5B</key>
  <string>u1A_5B_.glif</string>
  <key>u1A5C</key>
  <string>u1A_5C_.glif</string>
  <key>u1A5D</key>
  <string>u1A_5D_.glif</string>
  <key>u1A5E</key>
  <string>u1A_5E_.glif</string>
  <key>u1A60</key>
  <string>u1A_60.glif</string>
  <key>u1A61</key>
  <string>u1A_61.glif</string>
  <key>u1A62</key>
  <string>u1A_62.glif</string>
  <key>u1A62.large</key>
  <string>u1A_62.large.glif</string>
  <key>u1A62_u1A75</key>
  <string>u1A_62_u1A_75.glif</string>
  <key>u1A62_u1A76</key>
  <string>u1A_62_u1A_76.glif</string>
  <key>u1A63</key>
  <string>u1A_63.glif</string>
  <key>u1A63_u1A74</key>
  <string>u1A_63_u1A_74.glif</string>
  <key>u1A64</key>
  <string>u1A_64.glif</string>
  <key>u1A65</key>
  <string>u1A_65.glif</string>
  <key>u1A66</key>
  <string>u1A_66.glif</string>
  <key>u1A67</key>
  <string>u1A_67.glif</string>
  <key>u1A68</key>
  <string>u1A_68.glif</string>
  <key>u1A69</key>
  <string>u1A_69.glif</string>
  <key>u1A69.low</key>
  <string>u1A_69.low.glif</string>
  <key>u1A6A</key>
  <string>u1A_6A_.glif</string>
  <key>u1A6A.low</key>
  <string>u1A_6A_.low.glif</string>
  <key>u1A6A_u1A36.sub</key>
  <string>u1A_6A__u1A_36.sub.glif</string>
  <key>u1A6A_u1A3E.sub</key>
  <string>u1A_6A__u1A_3E_.sub.glif</string>
  <key>u1A6B</key>
  <string>u1A_6B_.glif</string>
  <key>u1A6C</key>
  <string>u1A_6C_.glif</string>
  <key>u1A6C.low</key>
  <string>u1A_6C_.low.glif</string>
  <key>u1A6C_u1A36.sub</key>
  <string>u1A_6C__u1A_36.sub.glif</string>
  <key>u1A6C_u1A38.sub</key>
  <string>u1A_6C__u1A_38.sub.glif</string>
  <key>u1A6C_u1A3E.sub</key>
  <string>u1A_6C__u1A_3E_.sub.glif</string>
  <key>u1A6C_u1A3F.sub</key>
  <string>u1A_6C__u1A_3F_.sub.glif</string>
  <key>u1A6D</key>
  <string>u1A_6D_.glif</string>
  <key>u1A6E</key>
  <string>u1A_6E_.glif</string>
  <key>u1A6F</key>
  <string>u1A_6F_.glif</string>
  <key>u1A70</key>
  <string>u1A_70.glif</string>
  <key>u1A70.thin</key>
  <string>u1A_70.thin.glif</string>
  <key>u1A71</key>
  <string>u1A_71.glif</string>
  <key>u1A71.thin</key>
  <string>u1A_71.thin.glif</string>
  <key>u1A72</key>
  <string>u1A_72.glif</string>
  <key>u1A72.thin</key>
  <string>u1A_72.thin.glif</string>
  <key>u1A73</key>
  <string>u1A_73.glif</string>
  <key>u1A74</key>
  <string>u1A_74.glif</string>
  <key>u1A74.high</key>
  <string>u1A_74.high.glif</string>
  <key>u1A74_u1A76</key>
  <string>u1A_74_u1A_76.glif</string>
  <key>u1A75</key>
  <string>u1A_75.glif</string>
  <key>u1A75.high</key>
  <string>u1A_75.high.glif</string>
  <key>u1A76</key>
  <string>u1A_76.glif</string>
  <key>u1A76.high</key>
  <string>u1A_76.high.glif</string>
  <key>u1A77</key>
  <string>u1A_77.glif</string>
  <key>u1A78</key>
  <string>u1A_78.glif</string>
  <key>u1A7A</key>
  <string>u1A_7A_.glif</string>
  <key>u1A7A.high</key>
  <string>u1A_7A_.high.glif</string>
  <key>u1A7B</key>
  <string>u1A_7B_.glif</string>
  <key>u1A7C</key>
  <string>u1A_7C_.glif</string>
  <key>u1A7F</key>
  <string>u1A_7F_.glif</string>
  <key>u1A80</key>
  <string>u1A_80.glif</string>
  <key>u1A81</key>
  <string>u1A_81.glif</string>
  <key>u1A82</key>
  <string>u1A_82.glif</string>
  <key>u1A83</key>
  <string>u1A_83.glif</string>
  <key>u1A84</key>
  <string>u1A_84.glif</string>
  <key>u1A85</key>
  <string>u1A_85.glif</string>
  <key>u1A86</key>
  <string>u1A_86.glif</string>
  <key>u1A87</key>
  <string>u1A_87.glif</string>
  <key>u1A88</key>
  <string>u1A_88.glif</string>
  <key>u1A89</key>
  <string>u1A_89.glif</string>
  <key>u1A8E</key>
  <string>u1A_8E_.glif</string>
  <key>u1A8F</key>
  <string>u1A_8F_.glif</string>
  <key>u1A90</key>
  <string>u1A_90.glif</string>
  <key>u1A91</key>
  <string>u1A_91.glif</string>
  <key>u1A92</key>
  <string>u1A_92.glif</string>
  <key>u1A93</key>
  <string>u1A_93.glif</string>
  <key>u1A94</key>
  <string>u1A_94.glif</string>
  <key>u1A95</key>
  <string>u1A_95.glif</string>
  <key>u1A96</key>
  <string>u1A_96.glif</string>
  <key>u1A97</key>
  <string>u1A_97.glif</string>
  <key>u1A98</key>
  <string>u1A_98.glif</string>
  <key>u1A99</key>
  <string>u1A_99.glif</string>
  <key>u1AA0</key>
  <string>u1A_A_0.glif</string>
  <key>u1AA1</key>
  <string>u1A_A_1.glif</string>
  <key>u1AA2</key>
  <string>u1A_A_2.glif</string>
  <key>u1AA3</key>
  <string>u1A_A_3.glif</string>
  <key>u1AA4</key>
  <string>u1A_A_4.glif</string>
  <key>u1AA5</key>
  <string>u1A_A_5.glif</string>
  <key>u1AA6</key>
  <string>u1A_A_6.glif</string>
  <key>u1AA7</key>
  <string>u1A_A_7.glif</string>
  <key>u1AA8</key>
  <string>u1A_A_8.glif</string>
  <key>u1AA9</key>
  <string>u1A_A_9.glif</string>
  <key>u1AAA</key>
  <string>u1A_A_A_.glif</string>
  <key>u1AAB</key>
  <string>u1A_A_B_.glif</string>
  <key>u1AAC</key>
  <string>u1A_A_C_.glif</string>
  <key>u1AAD</key>
  <string>u1A_A_D_.glif</string>
  <key>u200B</key>
  <string>u200B_.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uni00AD</key>
  <string>uni00A_D_.glif</string>
  <key>uni00B2</key>
  <string>uni00B_2.glif</string>
  <key>uni00B3</key>
  <string>uni00B_3.glif</string>
  <key>uni00B9</key>
  <string>uni00B_9.glif</string>
  <key>uni02D0</key>
  <string>uni02D_0.glif</string>
  <key>uni034F</key>
  <string>uni034F_.glif</string>
  <key>uni2000</key>
  <string>uni2000.glif</string>
  <key>uni2001</key>
  <string>uni2001.glif</string>
  <key>uni2002</key>
  <string>uni2002.glif</string>
  <key>uni2003</key>
  <string>uni2003.glif</string>
  <key>uni2004</key>
  <string>uni2004.glif</string>
  <key>uni2005</key>
  <string>uni2005.glif</string>
  <key>uni2006</key>
  <string>uni2006.glif</string>
  <key>uni2007</key>
  <string>uni2007.glif</string>
  <key>uni2008</key>
  <string>uni2008.glif</string>
  <key>uni2009</key>
  <string>uni2009.glif</string>
  <key>uni200A</key>
  <string>uni200A_.glif</string>
  <key>uni200C</key>
  <string>uni200C_.glif</string>
  <key>uni200D</key>
  <string>uni200D_.glif</string>
  <key>uni2010</key>
  <string>uni2010.glif</string>
  <key>uni2011</key>
  <string>uni2011.glif</string>
  <key>uni2015</key>
  <string>uni2015.glif</string>
  <key>uni2027</key>
  <string>uni2027.glif</string>
  <key>uni2028</key>
  <string>uni2028.glif</string>
  <key>uni2029</key>
  <string>uni2029.glif</string>
  <key>uni202F</key>
  <string>uni202F_.glif</string>
  <key>uni2060</key>
  <string>uni2060.glif</string>
  <key>uni2219</key>
  <string>uni2219.glif</string>
  <key>uniFB01</key>
  <string>uniF_B_01.glif</string>
  <key>uniFB02</key>
  <string>uniF_B_02.glif</string>
  <key>uniFE00</key>
  <string>uniF_E_00.glif</string>
  <key>uniFE01</key>
  <string>uniF_E_01.glif</string>
  <key>uniFE02</key>
  <string>uniF_E_02.glif</string>
  <key>uniFE03</key>
  <string>uniF_E_03.glif</string>
  <key>uniFE04</key>
  <string>uniF_E_04.glif</string>
  <key>uniFE05</key>
  <string>uniF_E_05.glif</string>
  <key>uniFE06</key>
  <string>uniF_E_06.glif</string>
  <key>uniFE07</key>
  <string>uniF_E_07.glif</string>
  <key>uniFE08</key>
  <string>uniF_E_08.glif</string>
  <key>uniFE09</key>
  <string>uniF_E_09.glif</string>
  <key>uniFE0A</key>
  <string>uniF_E_0A_.glif</string>
  <key>uniFE0B</key>
  <string>uniF_E_0B_.glif</string>
  <key>uniFE0C</key>
  <string>uniF_E_0C_.glif</string>
  <key>uniFE0D</key>
  <string>uniF_E_0D_.glif</string>
  <key>uniFE0E</key>
  <string>uniF_E_0E_.glif</string>
  <key>uniFE0F</key>
  <string>uniF_E_0F_.glif</string>
  <key>uniFEFF</key>
  <string>uniF_E_F_F_.glif</string>
  <key>uniFFFC</key>
  <string>uniF_F_F_C_.glif</string>
  <key>uniFFFD</key>
  <string>uniF_F_F_D_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
